---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes

NamespaceIndentation: None
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

DerivePointerAlignment: false
PointerAlignment: Left

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false

AccessModifierOffset: -4

SortIncludes: true
KeepEmptyLinesAtTheStartOfBlocks: false
...
